# PROJETO

## IMD0511 - INTELIGÊNCIA ARTIFICIAL APLICADA À EDUCAÇÃO

#### PROFESSORES:

ADJA FERREIRA DE ANDRADE

CHARLES ANDRYE GALVAO MADEIRA 

#### GRUPO: CINTHIA KATIANE ARAÚJO DO NASCIMENTO

#### Descrição do Projeto 

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non imperdiet ipsum. Phasellus faucibus sapien sem, eu tempus nisl venenatis tempor. Sed non euismod purus, a tincidunt nisi. Quisque consectetur nibh tellus, eget convallis sem luctus ut. Sed congue auctor massa, nec dictum libero ullamcorper eget. Donec feugiat venenatis porta. Donec ut pretium erat. Integer et elit tellus. Fusce lobortis aliquet ultricies. Donec condimentum risus nec tristique volutpat. Nam blandit tempus mi, id maximus orci rhoncus at. Phasellus interdum aliquam tellus eu laoreet. Sed maximus, magna in commodo blandit, odio dui ornare sem, a accumsan augue magna ac est. Etiam.

_______________________________________________________________

# INTRODUÇÃO

Antes de começar é necessário destacar alguns conceitas e ferramentas que foram importantes para o desenvolvimento desse projeto.

#### Análise de Dados

Análise de dados significa transformar números em informação, em significado, em solução de problemas.

#### Pandas

Biblioteca de Análise de Dados Python pandas é uma biblioteca open source, licenciada pelo BSD, que fornece  estruturas de dados de alto desempenho e fáceis de usar e ferramentas de análise de dados para a linguagem de programação Python.

O pandas é um projeto patrocinado pela NumFOCUS. Isso ajudará a garantir o sucesso do desenvolvimento de pandas como um projeto de código aberto de classe mundial e possibilitar a doação para o projeto.
__________

In [6]:
import pandas as pd
import numpy as np

# PRIMEIROS PASSOS

#### DATASETS UTILIZADOS

Componentes: 

http://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/9a3521d2-4bc5-4fda-93f0-f701c8a20727/download/componentes-curriculares-presenciais.csv

Curriculos:

http://dados.ufrn.br/dataset/82aca3f1-f7ee-425e-bf1e-b6a1d6811bf4/resource/3f25d054-c5d2-4bf2-8cd4-8e0a2e4f63ce/download/curriculo-componente-graduacao.csv

#### TAREFAS:

* Ler os datasets
* Descartar as colunas inuteis
* Renomear e formatar os dados para o merge
* Fazer os merge dos datasets

#### CÓDIGO

In [2]:
df_componentes = pd.read_csv('http://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/9a3521d2-4bc5-4fda-93f0-f701c8a20727/download/componentes-curriculares-presenciais.csv',
                            error_bad_lines=False, sep=';', low_memory=False,
                            usecols=['id_componente','tipo_componente', 'codigo', 'nivel', 'nome', 'ch_total', 'equivalencia', 'pre_requisito','co_requisito'])

df_componentes.dropna(inplace=True)
df_componentes.head()

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,equivalencia,pre_requisito,co_requisito
253,20036,DISCIPLINA,DEF0206,G,SOCORROS DE URGENCIA,30,( DEF0422 ),( ( ( MOR0006 OU MOR0007 OU MOR0011 ) E ( DFS0...,( DFS0039 ) OU ( DFS0032 )
418,20140,DISCIPLINA,AGP0224,G,BOVINOCULTURA DE LEITE,75,( AGP0115 OU ZOO0463 ),( ( AGP0203 ) ),( ( AGP0220 ) )
419,20141,DISCIPLINA,AGP0223,G,AVICULTURA I,75,( ZOO0467 ),( ( AGP0203 ) ),( ( AGP0214 ) )
420,20142,DISCIPLINA,AGP0225,G,EQUIDEOCULTURA,60,( ZOO0468 ),( ( AGP0203 ) ),( ( AGP0214 ) )
421,20143,DISCIPLINA,AGP0232,G,SUINOCULTURA,60,( ZOO0469 ),( ( AGP0203 ) ),( ( AGP0214 ) )

In [3]:
df_componentes_imd = df_componentes[df_componentes.codigo.str.contains('IMD')]
df_componentes_imd.dropna(inplace=True)
df_componentes_imd.head()

/home/cinthiakatiane/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,equivalencia,pre_requisito,co_requisito
21758,52778,MÓDULO,IMD0022,G,ESTRUTURA DE DADOS BÁSICAS I,90,( DIM0013 OU IMD0029 ),( IMD0012 ),( IMD0025 )
21765,52785,MÓDULO,IMD0025,G,LABORATÓRIO DE PROGRAMAÇÃO I,30,( DIM0426 OU IMD0030 ),( IMD0012 ),( IMD0022 )
21766,52786,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )
21767,52787,MÓDULO,IMD0032,G,ESTRUTURAS DE DADOS BÁSICAS II,90,( DIM0111 OU IMD0039 ),( IMD0022 ),( IMD0035 )
23687,55023,MÓDULO,IMD0029,G,ESTRUTURA DE DADOS BÁSICAS I,60,( DIM0110 ) OU ( IMD0022 ) OU ( DIM0119 ),( IMD0012 OU DIM0118 ),( IMD0030 OU DIM0120 )

In [9]:
df_componentes_imd.id_componente = df_componentes_imd.id_componente.astype(np.int64)

/home/cinthiakatiane/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [4]:
df_curriculo = pd.read_csv('http://dados.ufrn.br/dataset/82aca3f1-f7ee-425e-bf1e-b6a1d6811bf4/resource/3f25d054-c5d2-4bf2-8cd4-8e0a2e4f63ce/download/curriculo-componente-graduacao.csv',
                            error_bad_lines=False, sep=';')
df_curriculo.head()

,id_curriculo_componente,id_curriculo,id_componente_curricular,semestre_oferta,tipo_vinculo_componente,nivel_ensino
0,129366,100579,23161,8,OPTATIVO,GRADUAÇÃO
1,121276,100302,25440,5,OPTATIVO,GRADUAÇÃO
2,19001074,18999000,25603,1,OBRIGATÓRIO,GRADUAÇÃO
3,116106239,107405556,41803,0,OPTATIVO,GRADUAÇÃO
4,127478,100200,22865,6,OPTATIVO,GRADUAÇÃO

In [7]:
df_curriculo.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
df_curriculo.id_componente = df_curriculo.id_componente.astype(np.int64)

In [10]:
df_curriculo_componente = pd.merge(df_curriculo, df_componentes_imd, on='id_componente')
df_curriculo_componente.head()

,id_curriculo_componente,id_curriculo,id_componente,semestre_oferta,tipo_vinculo_componente,nivel_ensino,tipo_componente,codigo,nivel,nome,ch_total,equivalencia,pre_requisito,co_requisito
0,96081129,96081110,52786,4,OBRIGATÓRIO,GRADUAÇÃO,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )
1,96335321,96335318,52786,3,OBRIGATÓRIO,GRADUAÇÃO,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )
2,96355266,96355265,52786,4,OBRIGATÓRIO,GRADUAÇÃO,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )
3,96340770,96340769,52786,4,OBRIGATÓRIO,GRADUAÇÃO,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )
4,96352690,96352687,52786,3,OBRIGATÓRIO,GRADUAÇÃO,MÓDULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,( DIM0111 OU IMD0040 ),( IMD0025 ),( IMD0032 )

In [12]:
df_curriculo_componente.nome.value_counts()

ESTRUTURAS DE DADOS BÁSICAS II             16
ESTRUTURA DE DADOS BÁSICAS I               16
LINGUAGEM DE PROGRAMAÇÃO II                 9
LINGUAGEM DE PROGRAMAÇÃO I                  9
LABORATÓRIO DE PROGRAMAÇÃO II               7
PROJETOS BASEADOS EM MICROCONTROLADORES     7
LABORATÓRIO DE PROGRAMAÇÃO I                7
Name: nome, dtype: int64

____

In [2]:
# Dataset: Students who entered in the year of 2015

# Obs: This cel is reading the dataset, but I don't know if this dataset is going to be usefull

'''
alunos_2015 = pd.read_csv('http://dados.ufrn.br/dataset/554c2d41-cfce-4278-93c6-eb9aa49c5d16/resource/e2b5b843-4f58-497e-8979-44daf8df8f94/download/discentes-2015.csv',
                            error_bad_lines=False, sep=';')
alunos_2015.head()
'''

"\nstudents_2015 = pd.read_csv('http://dados.ufrn.br/dataset/554c2d41-cfce-4278-93c6-eb9aa49c5d16/resource/e2b5b843-4f58-497e-8979-44daf8df8f94/download/discentes-2015.csv',\n                            error_bad_lines=False, sep=';')\nstudents_2015.head()\n"

In [3]:
# This cell is cleaning the dataset to filter only the students of the graduation course offered at the IMD Unite
'''
alunos_imd = discentes_2015[discentes_2015.id_unidade == 6069.0]
alunos_imd = alunos_imd[alunos_imd.nivel_ensino == 'GRADUAÇÃO']
alunos_imd.dropna(inplace=True)
alunos_imd.head()
'''

"\nalunos_imd = discentes_2015[discentes_2015.id_unidade == 6069.0]\nalunos_imd = alunos_imd[alunos_imd.nivel_ensino == 'GRADUAÇÃO']\nalunos_imd.dropna(inplace=True)\nalunos_imd.head()\n"

In [4]:
#This cell is showing the count of unique values of the status of the students 
#alunos_imd.status.value_counts()

In [5]:
# This cell is reading the datasets of enrollments
# If this dataset is usefull I will see a amount of datasets to be analised
matriculas_2015 = pd.read_csv('http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9e7ba1c2-f92d-4b9c-9e91-3b026ecdf913/download/matriculas-de-2015.1.csv',
                            error_bad_lines=False, sep=';')

In [6]:
# Printing the results
matriculas_2015.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
0,57562481,8833c0e056f90497742882bfcc81b685,100300443.0,2.0,0.0,f,0.0,0.0,0.0,REPROVADO,NaN
1,57562481,8833c0e056f90497742882bfcc81b685,100300443.0,3.0,0.0,f,0.0,0.0,0.0,REPROVADO,NaN
2,57562481,7a0a661326418111f7d17aab098757aa,100300443.0,1.0,8.9,f,0.0,8.9,0.0,APROVADO,NaN
3,57562481,7a0a661326418111f7d17aab098757aa,100300443.0,2.0,8.9,f,0.0,8.9,0.0,APROVADO,NaN
4,57562481,7a0a661326418111f7d17aab098757aa,100300443.0,3.0,8.9,f,0.0,8.9,0.0,APROVADO,NaN

In [35]:
matriculas_2015_imd = matriculas_2015[matriculas_2015.id_curso == ]
matriculas_2015_imd.dropna(inplace=True)
matriculas_2015_imd.head()

C:\Users\Cinthia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Empty DataFrame
Columns: [id_turma, discente, id_curso, unidade, nota, reposicao, faltas_unidade, media_final, numero_total_faltas, descricao, Unnamed: 10]
Index: []

## Merge de Turmas e disciplinas

In [7]:
turma_periodo = ['dados/turmas-2013.1.csv','dados/turmas-2013.2.csv',
                 'dados/turmas-2014.1.csv','dados/turmas-2014.2.csv',
                 'dados/turmas-2015.1.csv','dados/turmas-2015.2.csv',
                 'dados/turmas-2016.1.csv','dados/turmas-2016.2.csv', 
                 'dados/turmas-2017.1.csv','dados/turmas-2017.2.csv',]

In [8]:
frames = [pd.read_csv(periodo, sep=';', usecols=['id_turma', 'codigo_turma','id_componente_curricular', 'ano','periodo', 'nivel_ensino', 'periodo','situacao_turma']) 
          for periodo in turma_periodo]

In [9]:
df_turmas = pd.concat(frames)

df_turmas_consolidadas = df_turmas[df_turmas.situacao_turma == 'CONSOLIDADA']
df_turmas_consolidadas.dropna(inplace=True)
df_turmas_consolidadas.head()

C:\Users\Cinthia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,id_turma,codigo_turma,id_componente_curricular,nivel_ensino,ano,periodo,situacao_turma
0,1196178,01,50280.0,LATO SENSU,2013,1.0,CONSOLIDADA
1,1196210,T01,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
2,1196211,T02,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
3,1196212,T03,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA
4,1196213,T04,52540.0,TÉCNICO,2013,1.0,CONSOLIDADA